<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Heros</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<script>
    var url;

    function createOrUpdate() {
        const id = document.getElementsByTagName('form')[0].id;
        const name = document.getElementById('name').value;
        const superpower = document.getElementById('superpower').value;

        if (url.searchParams.get("_id") && url.searchParams.get("name")
            && url.searchParams.get("superpower")) {
            updateHero(id, name, superpower);
        } else {
            createHero(name, superpower);
        }

        return false;
    }

    function updateHero(id, name, superpower) {
        const URL = 'http://localhost:3000/herois';
        var xhttp = new XMLHttpRequest();
        const hero = {
            _id: id,
            nome: name,
            superpoder: {
                descricao: superpower
            }
        };

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                window.location = 'http://localhost:3000/heros.html';
            }
        };

        xhttp.open("PUT", URL);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.send(JSON.stringify(hero));
    }

    function createHero(name, superpower) {
        const URL = 'http://localhost:3000/herois';
        var xhttp = new XMLHttpRequest();
        const hero = {
            nome: name,
            superpoder: {
                descricao: superpower
            }
        };

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                window.location = 'http://localhost:3000/heros.html';
            }
        };

        xhttp.open("POST", URL);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.send(JSON.stringify(hero));
    }

    function loadHero() {
        url = new URL(window.location);
        const id = url.searchParams.get("_id");
        const name = url.searchParams.get("name");
        const superpower = url.searchParams.get("superpower");

        if (id && name && superpower) {
            var form = document.getElementsByTagName("form")[0];
            form.setAttribute('id', id);
            document.getElementById('name').value = name;
            document.getElementById('superpower').value = superpower;
        }
    }

    window.onload = function () {
        loadHero();
    };
</script>

<body>
    <div class="wrapper container column center">
        <div class="container row center">
            <form class="container column center" onsubmit="return createOrUpdate()">
               <div>
                    <p>Nome</p>
                    <input class="form-input" type="text" id="name" required>
               </div>
               <div>
                    <p>Superpoder</p>
                    <input class="form-input" type="text" id="superpower" required>
               </div>
                </br>
               <input class="action-button" type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>

</html>